body{

	margin: auto 20px;
  padding: 0px;
 /* max-width: 670px;*/ /* width: 7in; */
  max-height: 900px; /* or height: 9.5in; */
  clear: both;
  page-break-after: always;
}

h1, h2, h3, h4, h6{
	font-family: 'Tulpen One', cursive;
}
