body{
	font-family: 'Tulpen One', cursive;
	font-size: 25px;
	margin: auto 20px;
  padding: 0px;
  max-width: 670px; /* width: 7in; */
  max-height: 900px; /* or height: 9.5in; */
  clear: both;
  page-break-after: always;
}

h3, h4, h6{
	font-family: 'Tulpen One', cursive;
}

.section{
	border-style: solid;
	border-width: 2px;
}

.stats{
	padding: 3px;
}

.score{
	text-decoration: bold;
}

.mod{
	font-style: italic; 
}

.skills{
	font-size: 18px;
}

#class-bg-player{
}

#race-align-exp{
}